
#carts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #1e347b;
  color: white;
  border-radius: 0.5rem;
}

#total_price {
  margin-top: 1rem;
}