{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DemoShop</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/item.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/main.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/item.js' %}" type="application/javascript"></script>
</head>
<body>
<header>
    <div id="header-logo">DemoShop</div>
    <a class="header-link" href="/categories">Categories</a>
    <a class="header-link" href="/carts">Cart</a>
</header>
<main>
    <div id="back_button"></div>
    <div id="title"></div>
    <div id="description"></div>
    <div id="price"></div>
    <div id="cart">
        <div id="remove_from_cart"></div>
        <div id="in_cart_count"></div>
        <div id="add_to_cart"></div>
    </div>
    <div id="clear_cart"></div>
</main>
<script>
    loadItem()
</script>
</body>
</html>